.battleground {
    background-repeat: no-repeat;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    position: relative;
}

.battlegroundImg {
    width: 100%;
    height: 100%;
}

@media (max-width: 425px) {
    .battleground {
        height: 100vh;
        width: 100vw;
    }
}