.battleground {
    background-image: url("../assets/img/battleground-background.png");
    background-repeat: no-repeat;
    height: 600px;
    width: 50vw;
    margin: auto;
    display: flex;
    position: relative;
}