.userPokemon {
    height: 50%;
    width: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 100px;
    position: absolute;
}

.enemyPokemon {
    height: 50%;
    width: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 100px;
    position: absolute;
}

.userPokemonWrapper {
    height: 40%;
    width: 40%;
    bottom: 30px;
    left: 100px;
    position: absolute;
}

.enemyPokemonWrapper {
    height: 200px;
    width: 150px;
    top: 10px;
    right: 100px;
    position: absolute;
}

@media (max-width: 700px) {
    .enemyPokemonWrapper {
        right: 50px;
    }

    .userPokemonWrapper {
        left: 10px;
    }
}