.fightMenu {
    bottom: 0px;
    width: 500px;
    height: 300px;
    right: 0px;
    position: absolute;
    background-color: white;
    border: 10px solid;
    border-color: black;
}

.options {
    width: 50%;
    font-size: large;
    position: relative;
    height: 50%;
}

.optionsContainer {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}